html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}












*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;

}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-image: url(../img/header-pic.jpg);
    background-size: cover;
    background-position: top right;
    min-height: 960px;
}

.header__nav {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 3px black;
    position: relative;
}

.header__nav-list {
    display: flex;
    gap: 56px;
}

.header__nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.header__menu-btn {
    display: none;
}

.header__menu {
    display: none;
    position: relative;
}

.header__profile {
    display: none;
}

/* BUTTONS */

.btn {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(184.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.5s;
}

.btn>span {
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.dark-btn {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.dark-btn::after {
    background: linear-gradient(184.78deg, #DF5950 11.19%, #451046 93.72%);
}

.btn:hover::after,
.dark-btn:hover::after {
    opacity: 1;
}

/* BUTTONS END */

.container {
    max-width: 1324px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__main-title {
    margin-top: 190px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-shadow: 1px 1px 12px rgb(0 0 0 / 60%);
}




/* COUNTER */

.counter__days,
.counter__hours,
.counter__minutes,
.counter__seconds {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 20px 30px;
    margin-right: 30px;
    background: #121212;
}

.counter__text {
    opacity: 0.4;
}

.counter__numbers-count {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
}

.counter {
    margin-bottom: 218px;
}

/* END COUNTER */

.header__statistics {
    background: #121212;
}

.header__statistics-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0 81px;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
}

.header__statistics-container {
    width: 251px;
}

.header__statistics-progress-container {
    flex-grow: 1;
}

.header__statistics-table,
.header__statistics-progress {
    display: flex;
}

.header__statistics-item,
.header__statistics-progress-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.4;
}

.header__statistics-number,
.header__statistics-progress-number {
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.header__statistics-progress-number {
    margin-left: 35px;
}

/* PROGRESS-BAR */
.header__statistics-progressbar {
    position: relative;
    border-radius: 7px;
    width: 100%;
}

.header__statistics-progressbar::-webkit-progress-bar {
    background-color: white;
    border-radius: 3px;
    height: 6px;
}

.header__statistics-progressbar::-webkit-progress-value {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 3px;
    height: 6px;
}

/* END PROGRESS-BAR*/

.header__statistics-progressbar::before {
    content: '0';
    position: absolute;
    top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}

.header__statistics-progressbar::after {
    content: '1 000 000₽';
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
}

/* -------------------------------------------------------------- */

.description {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.descroption__image {
    width: 526px;
    height: 499px;
    position: relative;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    display: inline-block;
}

.descroption__image::after {
    position: absolute;
    content: '';
    background: #000;
    width: 466px;
    height: 439px;
    top: 30px;
    left: 30px;
}

.descroption__image-img {
    position: absolute;
    z-index: 1;
    top: 96px;
    left: 40px;
}

.description__details {
    display: inline-block;
    max-width: 624px;
    margin-top: 69px;
    vertical-align: top;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
}

.description__text {
    font-size: 16px;
    margin-top: 45px;
}

/* -------------------------------------------------------------- */


.start {
    margin-top: 200px;
}

.decor {
    margin-left: 128px;
    position: relative;
}

.decor::before {
    position: absolute;
    content: '';
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    width: 92px;
    height: 92px;
    left: -126px;
    top: -10px;
    transform: rotate(45deg);
    border-radius: 50%;
}

.decor::after {
    position: absolute;
    content: '';
    background: black;
    width: 70px;
    height: 70px;
    left: -115px;
    top: 1px;
    transform: rotate(45deg);
    border-radius: 50%;
}

.start__text {
    margin-top: 49px;
    margin-bottom: 80px;
    font-size: 16px;
    opacity: 0.5;
    max-width: 411px;
}

.start__diagram-box {
    display: flex;
}

.start__diagram-item-percent {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 20px;
}

.start__diagram-item-rectangle {
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start__diagram-item:nth-child(2n) .start__diagram-item-rectangle {
    background: linear-gradient(266.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start__diagram-item:nth-child(2) .start__diagram-item-rectangle {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.start__diagram-item:nth-child(3) .start__diagram-item-rectangle {
    border-top: 25px solid black;
    border-bottom: 25px solid black;
}

.start__diagram-item:nth-child(4) .start__diagram-item-rectangle {
    border-top: 35px solid black;
    border-bottom: 35px solid black;
}


.start__diagram-item-text {
    margin-top: 35px;
    margin-right: 18px;
    font-size: 14px;
    opacity: 0.5;
}

/* -------------------------------------------------------------- */


.profession {
    margin-top: 200px;
}

.profession__title {
    text-align: center;
    margin-bottom: 120px;
}

.profession__list {
    display: flex;
    justify-content: center;
    gap: 82px;
}

.profession__item {
    text-align: center;
}

.profession__item-img {
    margin-bottom: 60px;
}

.profession__item-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.profession__item-text {
    font-size: 16px;
    opacity: 0.8;
    max-width: 358px;
}

/* -------------------------------------------------------------- */

.partners {
    margin-top: 231px;
}

.partners__list {
    margin-top: 89px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners__item {
    padding: 28px 62px;
    border-bottom: 1px solid #aeaeae;
    border-right: 1px solid #aeaeae;
}

.partners__item:nth-child(4n) {
    border-right: none;
}

.partners__item:nth-child(n+5) {
    border-bottom: none;
}

.partners__item-img {
    cursor: pointer;
}


/* -------------------------------------------------------------- */

.programm {
    margin-top: 364px;
}

.programm__title {
    text-align: center;
}

.programm__title.decor{
    margin-left: 0;
}

.programm__title.decor::before {
    left: 50%;
    top: -120px;
    transform: translateX(-50%);
}

.programm__title.decor::after {
    left: 50%;
    top: -109px;
    transform: translateX(-50%);
}

.programm__text {
    font-size: 16px;
    text-align: center;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: 80px;
}

.programm__roadmap {
    display: flex;
}

.programm__roadmap-gradient {
    width: 6px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    position: relative;
    margin-left: calc(50% - 3px);
}

.programm__roadmap-item {
    max-width: 228px;
    margin-left: 70px;
    position: relative;
}

.programm__roadmap-item::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    background: #aeaeae;
    top: 50%;
    left: -70px;
}

.programm__roadmap-item:nth-child(2n-1) {
    text-align: right;
    margin-left: -300px;
}

.programm__roadmap-item:nth-child(2n-1)::before {
    left: 254px;
}

.programm__roadmap-item-title {
    opacity: 0.5;
    margin-bottom: 15px;
}

.programm__roadmap-item-description {
    font-size: 18px;
}



/* -------------------------------------------------------------- */

.instructors {
    margin-top: 231px;
}

.instructors__list {
    margin-top: 113px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.instructors__item {
    text-align: center;
}

.instructors__item-img {
    border-radius: 50%;
    margin-bottom: 40px;
}

.instructors__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
}

.instructors__item-text {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------- */

.footer {
    margin-top: 200px;
}

.footer__title {
    text-align: center;
    margin-bottom: 30px;
}

.footer__text {
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
    max-width: 411px;
    margin: 0 auto 60px auto;
}

.footer__form {
    max-width: 492px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer__form>input {
    background: #AEAEAE;
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    min-width: 352px;
}

.footer__form>input::placeholder {
    color: #fff;
    opacity: 0.6;
}

.footer__subscribe {
    margin-left: -30px;
}

.footer__social {
    margin-top: 40px;
    max-width: 290px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}




/* 
320 px — Mobile Portrait
480 px — Mobile Album

600 px — Small Tablets
768 px — Tablets Portrait
1024 px — Tablets Album

>1280 px — PC 
*/








@media (max-width: 1320px) {
    .partners__item:nth-child(4) {
        border-right: 1px solid #aeaeae;
    }
    
    .partners__item:nth-child(n+5) {
        border-bottom: 1px solid #aeaeae;
    }

    .partners__item:nth-child(3n) {
        border-right: none;
    }
    
    .partners__item:nth-child(n+7) {
        border-bottom: none;
    }
}

@media (max-width: 1220px) {
    .header__nav-list {
        gap: 15px;
    }
}

@media (max-width: 1194px) {
    .description {
        justify-content: center;
        margin-top: 125px;
    }

    .description__details {
        text-align: center;
    }

    .partners {
        margin-top: 150px;
    }

    .profession {
        margin-top: 150px;
    }

    .programm {
        margin-top: 235px;
    }

    .instructors {
        margin-top: 150px;
    }
}

@media (max-width: 998px) {
    .partners__item:nth-child(2n-1) {
        border-right: 1px solid #aeaeae;
    }

    .partners__item:nth-child(2n) {
        border-right: none;
    }

    .partners__item:nth-child(n+5) {
        border-bottom: 1px solid #aeaeae;
    }
    
    .partners__item:nth-child(n+7) {
        border-bottom: none;
    }
}

@media (max-width: 960px) {

    .header {
        min-height: auto;
    }

    .header__nav-list {
        position: absolute;
        flex-direction: column;
        right: 178px;
        top: 100px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        border-radius: 30px;
        transition: all 0.5s;
        
        opacity: 0;
        z-index: -1;
    }

    .menu-active {
        opacity: 1;
        z-index: 1;
    }

    .header__menu-btn {
        display: inline-block;
        margin-left: auto;
    }

    .header__main-title {
        margin-top: 100px;
        font-size: 58px;
    }

    .counter {
        margin-bottom: 125px;
    }
}

@media (max-width: 674px) {

    .partners__item:nth-child(n) {
        border-right: none;
    }
    
    .partners__item:nth-child(7) {
        border-bottom: 1px solid #aeaeae;
    }
}